<div class="banner pos-bottom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path "kaizen-nguy-n-274069-unsplash" %>')">
  <h1>Cocktail fun!</h1>
</div>


<div class="container padded-top">


  <%= link_to "Add cocktail", new_cocktail_path %>

  <div class="row">
    <% @cocktails.each do |elt| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path elt.photo %>')">
          <div class="card-description">
            <h2><%= elt.name %></h2>
          </div>
          <%= link_to cocktail_path(elt) do %>
            <div class="card-link"></div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
